@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  caret-color: transparent;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-attachment: fixed;
  color: rgb(33, 33, 33);
}

.link, a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  cursor: pointer;
}

button {
  cursor: pointer;
}

.page-section-title {
  font-size: 2.4rem;
  margin: 3rem 0 3rem 0;
}

.visible {
  opacity: 1;
}

h2 {
  font-size: 2rem;
}

.round {
  border-radius: 50%;
}

.page-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding-top: 12rem;
}
.page-container.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.page-container.light {
  background-color: hsl(0, 0%, 98%);
}
.page-container .search-container {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  padding: 5rem 12rem 0 12rem;
}
.page-container .search-container .search-input-box {
  width: 50rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 0.6rem;
  padding: 0 3rem 0 3rem;
  margin-right: 3rem;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
}
.page-container .search-container .search-input-box.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.page-container .search-container .search-input-box.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.page-container .search-container .search-input-box .search-icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0.6;
}
.page-container .search-container .search-input-box .input-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 2rem;
  font-style: normal;
  cursor: pointer;
  border: none;
  caret-color: black;
  background: transparent;
}
.page-container .search-container .search-input-box .input-field::-moz-placeholder {
  color: inherit;
}
.page-container .search-container .search-input-box .input-field::placeholder {
  color: inherit;
}
.page-container .search-container .filter-box .filter-input-box {
  width: 23rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.6rem;
  padding: 0 2rem 0 2rem;
  margin-bottom: 1rem;
}
.page-container .search-container .filter-box .filter-input-box.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.page-container .search-container .filter-box .filter-input-box.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.page-container .search-container .filter-box .filter-input-box .arrow-icon {
  width: 2rem;
  height: 2rem;
  transition: all 0.2s linear;
  cursor: pointer;
}
.page-container .search-container .filter-box .filter-input-box .rotate {
  transform: rotate(180deg);
}
.page-container .search-container .filter-box .filter-input-box .input-field {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
}
.page-container .search-container .filter-box .dropdown-container {
  position: relative;
  z-index: 10;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.4rem;
  padding: 1rem 0 1rem 0;
  opacity: 0;
  transition: all 0.2s linear;
}
.page-container .search-container .filter-box .dropdown-container.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.page-container .search-container .filter-box .dropdown-container.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.page-container .search-container .filter-box .dropdown-container .dropdown-value {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding-left: 2rem;
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 1.4rem;
  font-style: normal;
  cursor: pointer;
}
.page-container .search-container .filter-box .dropdown-container .dropdown-value:hover {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.4rem;
  font-style: normal;
}
.page-container .search-container .filter-box .expand {
  opacity: 1;
}
.page-container .flags-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-wrap: wrap;
  padding: 0 12rem 0 12rem;
  background: transparent;
}
.page-container .flags-container .country-element {
  width: 40rem;
  height: 100%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  margin: 5rem 0 3rem 0;
  border-radius: 0.8rem;
  z-index: 0;
}
.page-container .flags-container .country-element.dark {
  background-color: hsl(209, 23%, 22%);
}
.page-container .flags-container .country-element.light {
  background-color: hsl(0, 0%, 100%);
}
.page-container .flags-container .country-element .flag-link {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.page-container .flags-container .country-element .flag-link .country-flag {
  width: 100%;
  height: 25rem;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem 0.8rem 0 0z;
  cursor: pointer;
}
.page-container .flags-container .country-element .country-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}
.page-container .flags-container .country-element .country-information .country-name {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 2rem;
  font-style: normal;
}
.page-container .flags-container .country-element .country-information .country-detail {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 1.4rem;
  font-style: normal;
}
.page-container .flags-container .country-element .country-information .country-detail span {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.4rem;
  font-style: normal;
}
.page-container .flags-container .pages-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 0 2rem;
}
.page-container .flags-container .pages-container .arrow-btn {
  width: 4rem;
  height: 4rem;
  opacity: 0.7;
  cursor: pointer;
}
.page-container .flags-container .pages-container .arrow-btn.rotate {
  transform: rotate(180deg);
}

@media only screen and (max-width: 850px) {
  .page-container .search-container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 2.8rem;
  }
  .page-container .search-container .search-input-box {
    width: 100%;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 0.6rem;
    padding: 0 3rem 0 3rem;
    margin: 0;
    max-width: 40rem;
  }
  .page-container .search-container .search-input-box .input-field {
    font-size: 1.6rem;
  }
  .page-container .search-container .filter-box {
    height: 5.5rem;
  }
  .page-container .search-container .filter-box .filter-input-box {
    width: 23rem;
    height: 5.5rem;
  }
  .page-container .flags-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    padding: 0;
  }
  .page-container .flags-container .country-element {
    width: 70%;
  }
}
.page-container .back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 13rem;
  height: 5rem;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  margin: 2rem 0 0 12rem;
  cursor: pointer;
}
.page-container .back-button.dark {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
}
.page-container .back-button.light {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
}
.page-container .back-button p {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.8rem;
  font-style: normal;
  cursor: inherit;
}
.page-container .back-button img {
  cursor: inherit;
  width: 3rem;
  height: 3rem;
}
.page-container .country-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10rem;
  padding: 4rem 12rem 0 12rem;
}
.page-container .country-details img {
  width: 40%;
  max-height: 40rem;
}
.page-container .country-details .details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.page-container .country-details .details-container .name {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
}
.page-container .country-details .details-container .details {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem;
}
.page-container .country-details .details-container .details div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.page-container .country-details .details-container .details div p {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 1.6rem;
  font-style: normal;
}
.page-container .country-details .details-container .details div span {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.6rem;
  font-style: normal;
}
.page-container .country-details .details-container .details div .languages {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 1.6rem;
  font-style: normal;
}
.page-container .country-details .details-container .border-countries {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.page-container .country-details .details-container .border-countries span {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1.6rem;
  font-style: normal;
}
.page-container .country-details .details-container .border-countries .border-name {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 1.6rem;
  font-style: normal;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.page-container .country-details .details-container .border-countries .border-name.dark {
  background-color: hsl(209, 23%, 22%);
}
.page-container .country-details .details-container .border-countries .border-name.light {
  background-color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 850px) {
  .page-container .back-button {
    margin: 0 0 0 3rem;
  }
  .page-container .country-details {
    padding: 6rem 3rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .page-container .country-details img {
    width: 100%;
    max-height: 40rem;
  }
  .page-container .country-details .details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .page-container .country-details .details-container .name {
    color: inherit;
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
  }
  .page-container .country-details .details-container .details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
  }
  .page-container .country-details .details-container .border-countries {
    margin-top: 4rem;
  }
  .page-container .country-details .details-container .border-countries .label {
    width: 100%;
  }
}
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 12rem 0 12rem;
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.navbar-container.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.navbar-container.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.navbar-container .navbar-label {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
}
.navbar-container .toggle-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.navbar-container .toggle-btn-container .toggle-icon {
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
}
.navbar-container .toggle-btn-container p {
  color: inherit;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 2rem;
  font-style: normal;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .navbar-container {
    padding: 0 3rem 0 3rem;
  }
  .navbar-container .navbar-label {
    color: inherit;
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 1.8rem;
    font-style: normal;
  }
  .navbar-container .toggle-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  .navbar-container .toggle-btn-container .toggle-icon {
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
  }
  .navbar-container .toggle-btn-container p {
    color: inherit;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.6rem;
    font-style: normal;
    cursor: pointer;
  }
}
.app {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}/*# sourceMappingURL=main.css.map */